body {
    /* background: #111; */
    color: white;
}
  
.bombsCounter{
    width:200px;
    background-color: red;
    margin: auto;
    text-align: center;
}

.livesCounter {
    width: 500px;
    background-color: pink;
    margin:auto;
    text-align: center;
}

.restartGame{
    margin-inline-start: 395px;
    background-color: transparent;
    border: 0px;
}
.board {
    padding-top: 60px;
    width: 250px;
    margin: auto;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 7px;
}

.cell .hover{
    background-color: rgb(184, 184, 184);
}

.hidden {
    background-color: grey;
    width:50px;
    height:50px;
    text-align: center;
}

.empty {
    background-color: rgb(218, 218, 218);
    width: 50px;
    height: 50px;
    text-align: center;
}